html,
body,
.container-fluid {
    height: 100%;
    background-color: #efefef;
}

.gc-header {
    height: 30px;
}

.gc-header h4 {
    display: inline-block;
}

.gc-header span {
    margin: 10px 0 10px 0;
}

.gc-content {
    position: absolute;
    top: 30px;
    bottom: 10px;
    width: 100%;
    padding-top: 10px;
}

.gc-content > div {
    height: 100%;
}

.gc-chat-window {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 42px;
}

.gc-chat-window > div {
    position: absolute;
    left: 15px;
    bottom: 0px;
    right: 15px;
    top: 0;
    overflow: scroll;
    border: 1px solid #ccc;
    width: auto;
    border-radius: 4px;
    background-color: #fff;
}

.gc-chat-textbox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
}

.gc-message {
    margin: 6px 0;
}

.gc-name {
    border-right: 1px solid #ddd;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}

.col-md-1.gc-name {
    padding-right: 5px;
    padding-left: 5px;
}

.gc-message .col-md-11 {
    padding-left: 5px;
}

.gc-sidebar > div {
    height: 50%;
    padding: 0 15px 0px 0px;
}

.gc-map > div {
    padding: 0 0 10px;
    height: 100%;
}

.map-canvas,
.gc-users > div {
    background-color: #fff;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: scroll;
}

.gc-joined,
.gc-left,
.gc-timestamp {
    color: #999;
    font-style: italic;
}

.gc-timestamp {
    overflow: hidden;
    white-space:nowrap;
    padding-left: 2px;
    padding-right: 2px;
}

.gc-welcome-row {
    margin-top: 60px;
}

.gc-welcome {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding: 20px;
}

.gc-error {
    color: red;
}

.gc-info {
    font-style: italic;
    color: #444;
}

.online {
  font-style: normal;
  color: inherit;
}

.offline {
  font-style: italic;
  color: #999;
}

h4 .loc-name {
  margin-left: 20px;
  font-size:14px;
  color: #666;
}

.announcement {
  background-color: #FFFFE0;
}

.gc-user-container .user {
  margin: 2px 0
}

.gc-user-container .user img {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    margin-right: 6px;
}
