html,
body,
.container-fluid {
    height: 100%;
    background-color: #efefef;
}

.gc-header {
    height: 30px;
}

.gc-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}

.gc-content > div {
    height: 100%;
}

.gc-chat-window {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 46px;
}

.gc-chat-window > div {
    position: absolute;
    left: 15px;
    bottom: 0px;
    right: 15px;
    top: 0;
    overflow: scroll;
    border: 1px solid #ccc;
    width: auto;
    border-radius: 4px;
    margin: 10px 0;
    background-color: #fff;
}

.gc-chat-textbox {
    position: absolute;
    bottom: 0;
    height: 46px;
    left: 0;
    right: 0;
    padding: 0 15px;
}

.gc-message {
    margin: 6px 0;
}

.gc-name {
    border-right: 1px solid #ddd;
    text-align: right;
}

.gc-sidebar > div {
    height: 50%;
    padding: 10px 15px 13px 0px;
}

.gc-map > div,
.gc-users > div {
    background-color: #fff;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.gc-welcome-row {
    margin-top: 60px;
}

.gc-welcome {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding: 20px;
}

.gc-error {
    color: red;
}

.gc-info {
    font-style: italic;
    color: #444;
}