{{set . "title" "Chat room"}}
{{template "header.html" .}}

<h1>You are now chatting as {{.user}}
  <a href="/">Leave the chat room</a></h1>

<div id="thread">
  <script type="text/html" id="message_tmpl">
    <% if(event.type == 'message') { %>
      <div class="message <%= event.data.user == '{{.user}}' ? 'you' : '' %>">
        <h2><%= event.data.user %></h2>
        <p>
          <%= event.data.text %>
        </p>
      </div>
    <% } %>
    <% if(event.type == 'join') { %>
      <div class="message notice">
        <h2></h2>
        <p>
          <%= event.data.user %> joined the room
        </p>
      </div>
    <% } %>
    <% if(event.type == 'leave') { %>
      <div class="message notice">
        <h2></h2>
        <p>
          <%= event.data.user %> left the room
        </p>
      </div>
    <% } %>
    <% if(event.type == 'quit') { %>
      <div class="message important">
        <h2></h2>
        <p>
          You are now disconnected!
        </p>
      </div>
    <% } %>
  </script>
</div>

<div id="newMessage">
  <input type="text" id="message" name="message" autocomplete="off" autofocus>
  <input type="submit" value="send" id="send">
</div>

<script type="text/javascript">
  // Create a socket
  var socket = new WebSocket('ws://' + window.location.host + '/zone/socket?user={{.user}}')

  // Display a message
  var display = function(event) {

    if (event.type == "archive") {
      for (var i = event.data.events.length - 1; i >= 0; i--) {
        display(event.data.events[i])
      }
      return
    }

    var t = tmpl('message_tmpl', {event: event});
    $('#thread').append(t);
    $('#thread').scrollTo('max')
  }

  // Message received on the socket
  socket.onmessage = function(event) {
    if (event) {
      display(JSON.parse(event.data))
    }
  }

  $('#send').click(function(e) {
    var message = $('#message').val()
    $('#message').val('')

    $.ajax({
      url: '/zone/message',
      method: 'POST',
      data: {
        text: message,
        user: '{{.user}}',
        zone: 'abc'
      }
    });

  });

  $('#message').keypress(function(e) {
    if(e.charCode == 13 || e.keyCode == 13) {
      $('#send').click()
      e.preventDefault()
    }
  })

</script>