<!DOCTYPE html>

<html>
  <head>
    <title>Geochat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <script src="/public/js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>

  <div class="container-fluid">

    <div class="row gc-welcome-row">
      <div class="col-md-4"></div>
      <div class="col-md-4 gc-welcome">


        <div class="form-group">

          <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
          </fb:login-button>

          <div id="status">
          </div>

        </div>
        <div class="dropdown pull-left" id="location-dd">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Current location
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Current location</a></li>
            <li><a href="#">Chicago</a></li>
            <li><a href="#">Rome</a></li>
            <li><a href="#">Hong Kong</a></li>
          </ul>
        </div>
        <span class="gc-error"></span>
        <span class="gc-info"></span>
        <input type="button" class="btn btn-success pull-right" id="enter" value="Enter ➞">

      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

  <script type="text/javascript">

  $("#location-dd li").on("click", function (e) {
    $("#location-dd button").html($(this).text() + ' <span class="caret"></span>')
  })

  $('#enter').click(function (e) {
    checkLoginState();
  });

  var handlePositionError = function (error) {
    $("#enter").addClass("disabled");
    $(".gc-error").text("Please enable location detection.")
  }

  var findLocation = function (fbid, authToken) {
    $(".gc-info").text("Determining location…")
    $("#enter").addClass("disabled");

    var location = $("#location-dd button").text().trim()

    var handlePosition = function (position) {
      $(".gc-info").text("Logging in…")

      $.ajax({
        url: '/auth',
        method: 'POST',
        data: {
          name: name,
          lat: position.coords.latitude,
          long: position.coords.longitude,
          authToken: authToken,
          fbID: fbid,
        }
      })
      .done(function (response) {
        $(".gc-info").text("Loading room…")
        window.location.replace("/chat/");
      })
      .fail(function () {
        $(".gc-info").text("")
        $(".gc-error").text("Login failed. Try again later.")
      });
    }

    switch (location) {
      case "Current location":
        navigator.geolocation.getCurrentPosition(handlePosition, handlePositionError)
        break;
      case "Chicago":
        handlePosition({
          coords: {
            latitude: 41.8369,
            longitude: -87.6947
          }
        });
        break;
      case "Rome":
        handlePosition({
          coords: {
            latitude: 41.9000,
            longitude: 12.5000
          }
        });
        break;
      case "Hong Kong":
        handlePosition({
          coords: {
            latitude: 22.2783,
            longitude: 114.1747
          }
        });
        break;
    }

    return

  }

///

// This is called with the results from from FB.getLoginStatus().
 function statusChangeCallback(response) {
   console.log('statusChangeCallback');
   console.log(response);
   // The response object is returned with a status field that lets the
   // app know the current login status of the person.
   // Full docs on the response object can be found in the documentation
   // for FB.getLoginStatus().
   if (response.status === 'connected') {
     findLocation(response.authResponse.userID, response.authResponse.accessToken);
   } else if (response.status === 'not_authorized') {
     document.getElementById('status').innerHTML = "Facebook authentication is required."
     $("#enter").prop('disabled', true);
   } else {

   }
 }

 // This function is called when someone finishes with the Login
 // Button.  See the onlogin handler attached to it in the sample
 // code below.
 function checkLoginState() {
   FB.login(function(response) {
     statusChangeCallback(response);
   });
 }

 window.fbAsyncInit = function() {
 FB.init({
   appId      : '344819539044865',
   cookie     : true,  // enable cookies to allow the server to access
                       // the session
   xfbml      : false,  // parse social plugins on this page
   version    : 'v2.2' // use version 2.2
 });

 };

 // Load the SDK asynchronously
 (function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));

 // Here we run a very simple test of the Graph API after login is
 // successful.  See statusChangeCallback() for when this call is made.
 function testAPI() {
   console.log('Welcome!  Fetching your information.... ');
   FB.api('/me', function(response) {
     document.getElementById('status').innerHTML = 'Logged in as ' + response.name;
   });
 }

  </script>

  </body>
</html>
