<!DOCTYPE html>

<html>
  <head>
    <title>Geochat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <script src="/public/js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>

  <div class="container-fluid">

    <div class="row gc-welcome-row">
      <div class="col-md-4"></div>
      <div class="col-md-4 gc-welcome">


        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="name" class="form-control" id="name" placeholder="Enter your name" value="{{ if .user }}{{.user.Name}}{{end}}">
        </div>
        <span class="gc-error"></span>
        <span class="gc-info"></span>
        <input type="button" class="btn btn-success pull-right" id="enter" value="Enter ➞">

      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

  <script type="text/javascript">

  var name = $("#name").val()

  if ($("#name").val() == "") {
    $("#name").addClass("disabled")
  }

  $('#enter').click(function (e) {
    e.preventDefault();
    findLocation();
  });

  $('#name').keyup(function (e) {
    name = $("#name").val()
    if (e.charCode == 13 || e.keyCode == 13) {
      e.preventDefault();
      return findLocation();
    }
    if (name != "") {
      $("#enter").removeClass("disabled")
    }
  });

  var handlePosition = function (position) {
    $(".gc-info").text("Location found, finding chatzone…")

    $.ajax({
      url: '/zone/lookup',
      method: 'POST',
      data: {
        lat: position.coords.latitude,
        long: position.coords.longitude
      }
    })
    .done(function (zone) {
      $(".gc-info").text("Chatzone found, logging in...")

      $.ajax({
        url: '/auth/login',
        method: 'POST',
        data: {
          name: name
        }
      })
      .done(function (data) {
        $(".gc-info").text("Logged in, loading room...")
        window.location.replace("/zone/" + zone);        
      })
      .fail(function () {
        $(".gc-info").text("")
        $(".gc-error").text("Login failed. Try again later.")        
      });
    })
    .fail(function () {
      $(".gc-info").text("")
      $(".gc-error").text("Unable to find chatzone. Try again later.")
    });
  }

  var handlePositionError = function (error) {
    $("#enter").addClass("disabled");
    $(".gc-error").text("Please enable location detection.")
  }

  var findLocation = function () {
    $(".gc-info").text("Determining location...")
    $("#enter").addClass("disabled");
    navigator.geolocation.getCurrentPosition(handlePosition, handlePositionError)
  }

  </script>

  </body>
</html>